/*****************
/* Autor: Carlos Diez Fernández UO284373
/* Descripción: este documento contiene el css del ejercicio 10
/***********/

header{  /*Especificidad:001*/
    color: #ffffff;
    background-color: #0000ff;
    text-transform: uppercase;
    padding: 0.5em;
    text-align: center;
    font-size: 1.5em;
    border-radius: 1em;
    margin-bottom: 3em;
}

body{  /*Especificidad:001*/
    background-color: #87ceeb;
}

ul > li{  /*Especificidad:002*/
    font-size: 2.3em;
}

ol > li{  /*Especificidad:002*/
    font-size: 1em;
}


