/*****************
/* Autor: Carlos Diez Fernández UO284373
/* Descripción: este documento contiene el css de la tarea 2 del ejercicio 11
/***********/

header{  /*Especificidad:001*/
    color: #ffffff;
    background-color: #0000ff;
    text-transform: uppercase;
    padding: 0.5em;
    text-align: center;
    font-size: 2em;
    border-radius: 1em;
}

p,input{  /*Especificidad:001*/
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

body{  /*Especificidad:001*/
    background-color: #afeeee;
}



