/*****************
/* Autor: Carlos Diez Fernández UO284373
/* Descripción: 
/***********/
/**
**/

header{
    color: black;
    background-color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}

header > section > h1{
    font-size: 1.8em;
    color: rgb(64, 182, 53);
    background-color: darkblue;
}

nav > a{
    text-decoration: none;
    color: white;
    background-color: darkblue;
    font-size: 1.3em;
    
}

nav > a:hover{
    color: white;
    background-color: coral;
}

h2{
    font-family: Impact,serif;
    font-size: 2em;
    color:chocolate;
    background-color: white;
    font-weight: bolder;
}

main {
    font-family: Arial, Helvetica, sans-serif;
}

main > ol >li{
    font-weight: bolder;
}

main > ol > li > ol >li{
    font-weight: lighter;
}

h3{
    color: chocolate;
    background-color: white;
}

table{
    text-align: center;
    border: 0.1em solid;
}

table > caption{
    font-weight: bolder;
    font-size: 1em;
    color: black;
    background-color:chocolate ;
    border: 0.1em solid;
}

th,td{
    border: 0.1em solid;
}

table > thead{
    color: black;
    background-color:deepskyblue;
}

table > tbody > tr > th{
    color: black;
    background-color: greenyellow;
}

fieldset > legend{
    font-weight: bolder;
}